<!DOCTYPE html>
<html>  
<head>  
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>Easi Credit</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
</head>  
<body>
    <h1 class="heading">Easi Credit Management</h1>
    <h2 class="subheading">Credit Management made easy</h2>
    <p class="introduction">
        Credit management has never been easier, with one portal to manage all<br>
        your credit accounts. 
    </p>

    <section>
        <h1 class="instructions">How to use this portal</h1>
        <ol>
            <li>Register to become a user</li>
            <li>Search for all your accounts by SSN</li>
            <li>Pay or settle accounts</li>
        </ol>    
    </section>

    <nav>
        <a href="/users/create">Register to become a user</a>
        <a href="/accounts/search">Search for accounts by SSN</a>
    </nav>

    <div class="container">

        {{! Every view gets inserted here }}
        {{{content}}}

    </div>

</body>  
</html>  