<main> 
    <h1>User Account</h1>
    <div class="account-container">
        <p>{{account_holder}}</p><br>
        <p>{{creditor}}</p><br>
        <p>{{type}}</p>
        <p>{{balance}}</p><br>
    </div>
</main>