<h1 class="heading">Easi Credit Management</h1>
<h2 class="subheading">Credit Management made easy</h2>

<h2 class="title">Account Search</h2>

<form action="/accounts" method="GET">
    <input type="text" name="ssn" value="" placeholder="SocialSecurity Number">
    <input type="submit" value="Submit">
</form>