<h1 class="title">User Registration</h1>

<form action=""
    Social Security Number<br>
    <input type="text" name="ssn" value="" placeholder="Social Security Number"><br>
    First Name<br>
    <input type="text" name="firstname" value="" placeholder="First Name"><br>
    Last Name<br>
    <input type="text" name="lastname" value="" placeholder="Last Name"><br>
    <input type="submit" value="Submit">
</form>