<main>
    <h2>User List</h2>
    {{#each users}}   
    <div class="user-container">
        <div class="user">
            <p id="ssn">{{ssn}}</p><br>
            <p id="first_name">{{first_name}}</p><br>
            <p id="last_name">{{last_name}}</p>
        </div>
    </div>
    {{/each}}
</main>