<main>
    <h2>User List</h2>
    <div class="user-container">
        {{#each users}}
        <div class="user">
            <p id="ssn"><a href="/users/{{_id}}">{{ssn}}</a></p>
            <p id="first_name">Name: {{first_name}} {{last_name}}</p><br>
        </div>
        {{/each}}
    </div>
</main>