<main>
    <h2>User Details</h2>
    <div class="user-container">
        <p id="ssn">SSN: {{users.ssn}}</p>
        <p id="first_name">Full Name: {{users.first_name}} {{users.last_name}}</p><br>
    </div>
</main>